* {
    margin:0;
    padding:0;
    box-sizing: border-box;


}
header{
    height: 61px;
    background-color: rgb(46, 46, 155);
}
header h1 {
    color: rgb(210, 224, 224);
    padding: 11px;
    text-align: center;
}
main{
    padding: 33px;
    margin: 55px auto;
    border: rgb(30, 112, 235) solid;
    width: 555px;
    height: 666px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
form{
    margin: 22px;
    
}
#mytext{
    
    height: 33px;
}
ul{
    margin: 33px auto;
    width: 100%;
    background-color: rgb(51, 123, 182);
}
li{
    position: relative;
    padding: 11px;
}
.close{
    cursor: pointer;
    position:absolute;
    top: 0;
    right: 0;
    padding: 11px;

}
.close:hover{
    background-color: antiquewhite;
}